/* Estilos para la página Magic Singles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Fondo claro */
}

header {
    background-color: #08415C; /* Indigo Eye */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main.page-singles {
    display: flex;
    margin: 2rem;
}

/* Barra lateral de filtros */
.filters {
    width: 20%;
    background-color: #bcccca; /* Fondo claro para filtros */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.filters form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filters fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filters legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.filters select,
.filters input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters button {
    background-color: #CC2936; /* Persian Red */
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filters button:hover {
    background-color: #EBBAB9; /* Tea Rose */
}

/* Resultados de búsqueda */
.results {
    width: 80%;
    padding: 1rem;
}

.results h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Grid contenedor de las cartas*/
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4.3rem;
}

/* Estilos de cartas dentro del contenedor*/
.card {
    background-color: #cce4dc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    width: 250px;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%; 
    height: auto; 
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.card button {
    background-color: #08415C; 
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
}

.card button:hover {
    background-color: #388697; 
}
